<%= render "banner", h1: "Save any kind of movies", h2: "My lists" %>

<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>

<%= link_to "+ create a movie list", new_list_path %>
